<ion-view view-title="Dashboard">
  <ion-content class="padding text-center scroll-bg text-color">
    <h2>Request More Info</h2>
    <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="requestForm.first_name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name" ng-model="requestForm.last_name">
  </label>
  <label class="item item-input">
    <input type="tel" placeholder="Phone" ng-model="requestForm.phone">
  </label>
  <label class="item item-input">
    <input type="email" placeholder="Email" ng-model="requestForm.email">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments" ng-model="requestForm.comments"></textarea>
  </label>
  <button class="button button-energized" ng-click="sendForm()">
  Request More Info
</button>
</div>
  </ion-content>
</ion-view>
