<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.jyroneparker.ava" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>AVA - Health Care Management</name>
  <description>
        Accident Victims Alliance is a 12 ­year old health management organization directed by a 20­year veteran of the insurance and healthcare industries. AVA’s mission is to provide FREE assistance to accident victims and hospital patients in their time of need; filling the gaps between injury, loss and recovery by managing post­hospitalization activities.
    </description>
    <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
